*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#top {
    width: 1903px;
    height: 35px;
    line-height: 35px;
    background: url(../images/top.jpg) repeat-x;
}
#welcome{
    width: 780px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    color: white;
}
#time{
    font-size: 14px;
}
#container{
    background:url(../images/bg.jpg)  #efeeed repeat-x; 
}
#banner{ 
    width: 782px;
    height: 199px;
    margin:0 auto;
    background: url(../images/banner.jpg);
}
#nav{
    width: 785px;
    height: 35px;
    margin:0 auto;
    background: url(../images/nav-bg.jpg) repeat-x;
}
#nav ul{
    width: 720px;
    height: 35px;
    margin: 0 auto;
}
#nav li{
    height: 35px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    float: left;
    list-style: none;
    font-family: arial;
}
#nav li a{
    color:white;
    font-family:arial;
}
#nav li:hover{
    background-color:#3c98c9;
}
#nav-b{
    width: 780px;
    height: 15px;
    margin:0 auto;
    background: url(../images/nav-b.jpg) repeat-x;
}
#main{
    width: 780px;
    height: 400px;
    margin:0 auto;
    background: white;
}
#main ul{
    padding-left: 4px;
    list-style: none;
}
#main ul li{
    font-size:13px;
}
.more1,.more2{
    font-weight: bold;
}
.more1{
    float:right;
    font-size: 12px;
    padding-right: 22px;
    line-height: 21px;
    color:white;
}
.more1 a{
    color:white;
}
.more1 a:hover{
    color: black;
}
#main ul a{
    color:black;
}
#main ul a:hover{
    color: red;
    text-decoration: underline;
}
#left{
    width: 289px;
    height: ;
    float: left;
    background: ;
}
#zcfg{
    height: 23px;
    width: 285px;
    background: url(../images/zcfg.jpg);
}
#center{
    width: 289px;
    height: ;
    float: left;
    background: ;
}
#gzdt{
    height: 23px;
    width: 285px;
    background: url(../images/gzdt.jpg);
}
#sjzx{
    height: 23px;
    width: 285px;
    background: url(../images/sjzx.jpg);
}
#right{
    width: 196px;
    height: 400px;
    float: right;
    border: 1px solid gray;
    overflow: hidden;
}
#right ul{
    padding-top:40px;
}
.more2 {
    float:right;
    line-height: 30px;
    padding-right: 10px;
    font-size: 12px;
}
.more2 a{
    color:black;
}
.more2 a:hover{
    color:red;
}
#sjgg{
    width: 196px;
    height: 230px;
    background: url(../images/sjgg.jpg) no-repeat;    

}
#sjgg li a{
     padding-left: 25px;
    line-height: 20px;
    background:url(../images/li-log2.jpg) no-repeat;
}
#yqlj{
    width: 196px;
    height: 196px;
    background: url(../images/yqlj.jpg) no-repeat;
}
#yqlj li a{
    padding-left: 25px;
    line-height: 20px;
    background:url(../images/li-log3.jpg) no-repeat;
}
#img-news{
    width: 289px;
    height: 203px;
    background:url(../images/col1-1-h.jpg) no-repeat;
}
#img-news img{
    margin: 25px;
}
.text-1{
    width: 280px;
    height: 170px;
    background: ; 
}
#left ul{
    padding-top: 4px;
    padding-left: 12px;
}
#center ul{
    padding-top: 4px;
    padding-left: 12px;
}
.text-1 li a{
    line-height: 24px;
    padding-left: 15px;
    background:url(../images/li-log.jpg) no-repeat;
}
.text-2{
    width: 289px;
    height: 203px;
}
.text-2 li a{
    line-height: 24px;
    padding-left: 15px;
    background:url(../images/li-log.jpg) no-repeat;
}
#footer{
    width: 100%;/*100%和1093px是有区别的 缩小时候*/
    height: 35px;
    background: url(../images/footer-bg.jpg) repeat-x;
    text-align: center;
}
#footer a{
    color: white;
}
#footer a:hover{
    color:red;
}
#footer p{
    width: 780px;
    height: 35px;
    margin: 0 auto;
    line-height: 30px;
    color: white;
}